<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block titre %}Adveris - Blog{% endblock %}</title>
        <meta name="keywords" content="{% block motsCles %}{% endblock %}" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        {% block header %}
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="brand" href="/">Adveris</a>
                            <div class="nav-collapse collapse">
                                <div class="navbar-form form-search pull-right">
                                    <a class="brand" href="{{ path('ajout') }}">Ajouter un article</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block body %}

        {% endblock %}

        {% block footer %}
            <hr />
	        <footer id="footer" class="vspace20">
		        <div class="container">
			        <div class="row">
				        <div class="span4 offset1">
					        <h4>Informations</h4>
					            <ul class="nav nav-stacked">
						            <li><a href="#">CGV</a>
						            <li><a href="#">Mentions légales</a>
					            </ul>
				        </div> 

				        <div class="span4">
					        <h4>Adresse</h4>
					            <p><i class="icon-map-marker"></i>&nbsp;13 Rue d'Uzès, 75002 Paris</p>
				        </div>

				        <div class="span2">
					        <h4>Nous contacter</h4>
					            <p><i class="icon-phone"></i>&nbsp;Tel: 01 83 62 85 80</p>
					            <p><i class="icon-print"></i>&nbsp;Fax: 01 83 62 85 80</p>
				        </div>
			        </div>

			            <div class="row">
				            <div class="span4">
					            <p>&copy; Copyright 2014 - Adveris</p>
				            </div>
			            </div>
		            </div>
	        </footer>	

        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
